<div class="top-container clearfix">
  <div class="top-left-container">
    <p><%= image_tag 'phone_top.jpg', alt: '白いスマートフォン' %></p>
  </div><!-- /.top-left-container -->

  <div class="top-right-container">
    <%= render 'shared/login_form' %>

    <div class="user-create-container box-border">
      <p>アカウントをお持ちでないですか？</p>
      <%= link_to '登録する', new_user_path, class: 'register-btn' %>
    </div><!-- /.user-create-container -->
  </div><!-- /.top-right-container -->
</div><!-- /.top-container -->
