<h1>ユーザー 一覧</h1>
<table>
  <thead>
    <tr>
      <td>id</td>
      <td>アイコン</td>
      <td>ユーザー名</td>
      <td>名前</td>
      <td>メールアドレス</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td><%= image_tag 'default.png', size: '50x50' %></td>
      <td>yamada</td>
      <td>山田太郎</td>
      <td>yamada@example.com</td>
    </tr>
    <tr>
      <td>1</td>
      <td><%= image_tag 'default.png', size: '50x50' %></td>
      <td>yamada</td>
      <td>山田太郎</td>
      <td>yamada@example.com</td>
    </tr>
    <tr>
      <td>1</td>
      <td><%= image_tag 'default.png', size: '50x50' %></td>
      <td>yamada</td>
      <td>山田太郎</td>
      <td>yamada@example.com</td>
    </tr>
    <tr>
      <td>1</td>
      <td><%= image_tag 'default.png', size: '50x50' %></td>
      <td>yamada</td>
      <td>山田太郎</td>
      <td>yamada@example.com</td>
    </tr>
  </tbody>
</table>
