<div class="outer-container">
  <div class="container">
    <% @posts.each do |post| %>
      <%= render 'content', post: post %>
    <% end %>
  </div><!-- /.container -->
</div><!-- /.outer-container -->
