<div class="outer-container">
  <div class="container">
    <% @posts.each do |post| %>
      <% @favorite = current_user.favorites.find_by(post_id: post.id) %>
      <%= render 'content', post: post %>
    <% end %>
  </div><!-- /.container -->
</div><!-- /.outer-container -->
