<div class="outer-container">
  <div class="outer-post-container">
    <h2 class="page-title">新規投稿</h2>
    <%= render 'shared/page_menu' %>
    <%= render 'form', post: @post %>
  </div><!-- /.outer-post-container -->
</div><!-- /.outer-container -->
