<div class="outer-container">
  <div class="container">
    <h2 class="page-title">投稿詳細</h2>
    <%= link_to '戻る', :back %>
    <%= render 'content', post: @post %>
  </div><!-- /.container -->
</div><!-- /.outer-container -->
