/* ユーザー詳細画面 ------------------------- */
.user-container {
  width: 600px;
  margin: 0 auto;
  border: 1px solid #E6E6E6;
  background-color: #fff;
  padding: 20px;
}

.img-container {
  margin: 20px 0;
  text-align: center;
}

.img-container h3 {
  padding-bottom: 10px;
}

.user-info {
  margin: 0 auto 20px;
}

.user-info-show {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 30px 20px 20px;
}

.user-show {
  border-bottom: 1px solid #E6E6E6;
}

.user-login {
  position: relative;
  top: 0px;
  left: 780px;
}